/* === CONFIGURAÇÕES GERAIS === */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #222;    
    background-color: #ffff;
    text-align: center;
}

body, html {
    height: 100%;
}

h1,h2,h3{
    color: #1a4db3;
    text-align: center;
}

p{
    line-height: 1.5; /** Altura da linha paragrafo**/
    margin: 10px 0; /** Margin em cima e embaixo**/
    text-align: center;
}

/* ===== CABECALHO E MENU =====*/
header{
    background-color: #1a4db3;
    color:#ffff;
    padding: 20px 0; /* Tamanho onde ela vai preencher */
}
.topo{
    display: flex; /* ativa o flebox*/
    align-content: center; /* espaco entre eles*/
    padding: 10px; /* todos ocupam o mesmo tempo*/
    justify-content: space-between; /* espaco inteiro*/
}

.menu {
    display: flex;
    gap: 15px;
}

.logo a{
    text-decoration: none; /* Tira o sublinhado do link*/
    color: #ffff;
    font-size: 24px; /* Tamanho da Fonte*/
    font-weight: bold; /* Espessura da fonte*/
}

.logo span{
    color: #ff6a00;
}

/* Acessando TAG.CLASS */
nav.menu{
    text-align: center; /* Colocar o texto no centro */
    margin-top: 10px; /* Mangin no topo*/
}

nav.menu a{
    color: #ffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav.menu a.ativo{
    color: darkorange;
    text-decoration: underline;
}

nav.menu a:hover {
    color: #ff6a00; /* Efeito passar mouse em cima */ 
}

/* ==== SEÇÃO PRINCIPAL(index.html) ====*/
.hero{
    background-color: #f5f5f5;
    text-align: center;
    padding: 60px 20px;
}

.hero h1{
    font-size: 36px;
    color: #1a4db3;
}

.hero p{
    font-size: 18px;
    margin-bottom: 20px;
}

/* Criando botoes com hiperlinks */
.btn-primario{
    background-color:  #ff6a00;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-secundario{
    background-color: #ffff;
    color: #1a4db3;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    border: #1a4db3 2px solid;
}

.btn-primario,.btn-secundario:hover{
    opacity:  0.8;
}


article.cursos{
    text-align: center;
}

/* Pagina Cursos */
.cursos {
    gap: 30px 20px; /* Da espaco entre os cards*/
    text-align: center;
    display: flex; /* Ativa o flebox*/
}

.curso {
    flex: 1; /* Todos ocupam o mesmo espaco*/
    padding: 20px; /* espaco interno*/
    background: #ffff;
    border-radius: 8px;
}

.cursos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr))
}

/*==== RODAPÉ ====*/
footer{
    background-color: #1a4db3;
    color: #ffff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer a{
    color: #ff6a00;
    text-decoration: none;
}